body {
  margin: 0;
}
.header {
    background-image: url(http://i.imgur.com/Qp4OOYv.png);
    background-size: 100vw, 200px;
    height: 150px;

}
h1 {
  color: white;
  margin: 0;

}h1, a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.headbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links {
  margin: 30px;
  -webkit-box-shadow: 2px 0px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 2px 0px 0px 0px rgba(255,255,255,1);
  box-shadow: 2px 0px 0px 0px rgba(255,255,255,1);
  padding-right: 10px;
}
